{
  "dishwasher": {
    "Person1": 0,
    "Person2": 0,
    "Person3": 0
  },
  "stove": {
    "Person1": 0,
    "Person2": 0,
    "Person3": 0
  },
  "bathroom": {
    "Person2": 0,
    "Person3": 0
  },
  "order": [
    "Person3",
    "Person1",
    "Person2"
  ],
  "descriptions": {
    "stove": "Clean stove grilles and surface",
    "countertops": "Wipe down countertops, remove sticky / blemishy areas including island + coffee table",
    "bathroom": "Clean the hall bathroom.",
    "vacuum": "Vacuum floors in kitchen+living/dining room+hallway"
  },
  "vacuum": {
    "Person1": 0,
    "Person2": 0,
    "Person3": 0
  },
  "trash": {
    "Person1": 0,
    "Person2": 0,
    "Person3": 0
  },
  "emails": {
    "Person1": "Person1 <address1@mail.dev>",
    "Person2": "Person2 <address2@mail.dev>",
    "Person3": "Person3 <address3@mail.dev>"
  },
  "countertops": {
    "Person1": 0,
    "Person2": 0,
    "Person3": 0
  }
}
