<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>HOUSE CHORES</title>
</head>
<body style="font-size:2vh;">
  <h1 style="font-size:8vh;">DOING THE CHORES</h1>
  Nag about:
  <form action="/nag" method="post">
    <select name="chore" style="font-size:2vh;">
    {% for chore in chores %}
      <option value="{{ chore }}">{{ chore }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Nag!" style="font-size:2vh;">
  </form>
  <br />
  <br />
  Mark that:
  <form action="/done" method="post">
    <select name="name" style="font-size:2vh;">
    {% for name in names %}
    <option value="{{ name }}">{{ name }}</option>
    {% endfor %}
    </select>
    did the:
    <select name="chore" style="font-size:2vh;">
    {% for chore in chores %}
    <option value="{{ chore }}">{{ chore }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Done!" style="font-size:2vh;">
  </form>
</body>
</html>
  
